<div class="flex flex-col-reverse sm:flex-row h-screen overflow-hidden">
  <!-- Side Navbar - Bottom on mobile, Side on desktop -->
  <div class="w-full h-16 sm:h-auto sm:w-20 lg:w-28 flex-shrink-0 z-50">
    <app-navbar [activeView]="currentView" (viewChange)="onViewChange($event)"></app-navbar>
  </div>

  <!-- Main Map View (Remaining width/height) -->
  <div class="flex-1 relative w-full h-[calc(100vh-4rem)] sm:h-full">
    <app-weather-map *ngIf="currentView === 'weather'"></app-weather-map>
    <app-emergencies-map *ngIf="currentView === 'emergencies'"></app-emergencies-map>
  </div>
</div>

<router-outlet />
